@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/theme';

.list__item{
  text-align: left;
  font-size: 1rem;
  background-color:#FFF;
  border-radius: 4px;
  padding: 0px 16px;
  margin: 0.4em 0;
  display: flex;
  box-shadow: $standard-shadow;
  :global{
    .ant-list-item-meta-title{
      //font-size: 1.1rem;
      font-weight: inherit;
      font-size: 1rem;
    }
  }
}

.list__item--bold{
  font-weight: bold;
  :global{
    .ant-list-item-meta-title{
      //font-size: 1.1rem;
      font-weight: inherit;
      font-size: 1rem;
    }
  }
}
