//COLORS
$background-color: #F0F0F0;
$main-text-color:#132845;
$primary-color:#3CB4AB;
$secondary-color: #83e8e2;
$third-color: #e0fffd;

@media screen and (max-width: 600px){
  #root {
    min-height: 0;
  }
}
