@import 'styles/colors';

.mainWrapper {
    display: flex;
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100vh;
        padding: 3em;

        .menu {
            background-color: $background-color;
            height: 100%;
            padding: 2em;

            .menuContent {
                position: relative;
                height: 100%;

                .mainTitle {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    margin-bottom: 10px;
                    font-size: 25px;
                    font-weight: bold;
                    user-select: none;
                }
    
                .selectOptions {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    margin-left: 15px;
                    margin-right: 15px;
                    overflow-y: auto;
                    gap: 30px;
                    height: calc(100vh - 330px);
                        
                    .title {
                        display: flex;
                        justify-content: space-between;
                        text-align: left;
                        line-height: 55px;
                        font-size: 20px;
                        font-weight: bold;
                        user-select: none;
                    }

                    .text {
                        display: flex;
                        justify-content: space-between;
                        text-align: right;
                        line-height: 55px;
                        font-size: 15px;
                        font-weight: bold;
                        user-select: none;
                        color: rgb(75, 75, 75);
                    }
    
                    .sliderTag {
                        margin-top: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-bottom: 25px;
                    }

                    .inputTag {
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        width: auto;
                        height: 38px;
                    }

                    .selectTag {
                        width: calc(100% - 20px);
                        margin-top: 10px;
                    }

                    .checkboxTag {
                        display: flex;
                        gap: 10px;
                        margin-top: 10px;
                        margin-bottom: 30;
                        align-items: center;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
                
                .button {
                    display: flex;
                    margin-top: 30px;
                    justify-content: center;
                }
    
                .menuBottom {
                    position: absolute;
                    bottom: 40px;
                    width: 100%;

                    hr {
                        width: 80%;
                        margin-bottom: 20px;
                    }

                    .btnGroup {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }

            table, td {
                border: 1px solid black;
                text-align: center;
            }

            thead, tfoot {
                background-color: #333;
                color: #fff;
            }

        }

        .canvas {
            height: 100%;
            z-index: 90 !important;

            .loadingContainer {
                width: 100%;
                height: 100%;
                z-index: 100;
                background-image: url('/assets/background/loading-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                .spinContainer {
                    display: inline-block;
                    position: absolute;
                    opacity: 1;
                    top: 50%;
                    right: 48%;
                    color: white;
                }
            }
            
            .compass {
                position: absolute;
                left: 20px;
                top: 20px;
                width: 150px;
                height: 150px;
                z-index: 100 !important;
                pointer-events: none;
                user-select: none;
            }
        }
    }
}