@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/theme';

.row{
  background-color: $background-color;
  flex:1;
  position: relative;
  box-shadow: $standard-shadow;
  @include md{
    border-radius: 8px;
  }
}
